
  .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; 
  }
  
  .background {
    /* width: 75vw; */
    max-width: 100%;
    overflow: hidden;
    background-color: white;
  }
  
  .home-image {
    width: 100%; 
    height: auto;   /* Maintain aspect ratio */
    object-fit: cover; /* Ensure it covers the background container properly */
  }

  .text-overlay {
    position: absolute;
    top: 92%; /* Adjust to move the text higher above the button */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay h2 {
    font-size: 2rem;
    margin-bottom: 20px; /* Space between the text and the button */
  }
  
  .flexible-button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .flexible-button:hover {
    background-color: #E04848;
  }
  